#what .items {
  display: block;
  padding: 1rem;
}

/* Align Icon to Left */
#what .items .item {
  display: flex;
  text-align: left;
}

/* Position Icon */
#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

@media (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5rem;
  }

  #showcase .showcase-content {
    top: 110px;
}

  .l-heading {
    font-size: 3.5rem;
    line-height: 4.8rem;
    padding: 0px 0;
  }

  .lead {
    font-size: 1.5rem;
  }

  #who {
    display: block;
  }

  #who .who-img {
    display: none;
  }

  #clients .items img {
    width: 70%;
  }

  #clients .items div:last-child {
    display: none;
  }

  #contact {
    flex-direction: column;
  }

  #contact .map {
    height: 200px;
    border-top: #333 solid 4px;
  }
  
  #footer {
    font-size: 0.8rem;
  }
}